@font-face {
    font-family: Anton;
    src: url(https://fonts.google.com/specimen/Anton?query=anton);
}
@font-face {
    font-family: Abel;
    src: url(https://fonts.google.com/specimen/Abel#standard-styles);
}

h1, h2 {
    font-family: Anton, monospace;
    margin: 25px 0;
}

h1 {
    font-size: 64px;
    padding-top: 30px;
}

h2 {
    font-size: 48px;
}
nav a {
    font-size: .75em;
    color: black;
}
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}
nav .nav-item {
    position: relative;
    bottom: 6px;
}