@media screen and (min-width: 992px) {
    .selected-work{
        font-size: 10px;
    }
    .featured-project{
        font-size: 15px;
    }
}
@media screen and (max-width: 576px) {
    .selected-work{
        text-align: center;
    }
    .featured-project{
        font-size: 20px;
    }
}

@font-face {
    font-family: Anton;
    src: url(https://fonts.google.com/specimen/Anton?query=anton);
}
@font-face {
    font-family: Abel;
    src: url(https://fonts.google.com/specimen/Abel#standard-styles);
}

.bg-gray{
    background-color: #F0F0F0;
}
h1, .location-header {
    font-family: Anton, monospace;
    margin: 25px 0;
}

h1 {
    font-size: 64px;
    padding-top: 30px;
}

.location-header {
    font-size: 48px;
}

nav a {
    font-size: .75em;
    color: black;
}
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}
.codeup-title {
    font-family: Abel, monospace;
    font-size: 3rem;
}
.nav-text-large{
    font-family: Abel,monospace;
    font-size: 1.2rem;
}
.circle{
    border: 8px solid white;
    aspect-ratio: 1;
    /*width: 100%;*/
}
.circle-headers {
    font-family: Anton, monospace;
    color: white;
    /*height: 100%;*/
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-circle{
    background-color: #E6563B;
}
.orange-circle{
    background-color: #EB9D3A;
}
.green-circle{
    background-color: #7CB09C;
}
.blue-circle{
    background-color: #00ABA9;
}
.invisible-circle{
    background-color: #F0F0F0;
    border: none;
}
.empty-div-med{
    height: 150px;
    width: 100%;
}
.empty-div-sm{
    height: 100px;
    width: 100%;
}
.selected-work{
    font-family: Abel,monospace;
    font-size: 28px;
}
.featured-project{
    font-family: Abel,monospace;
    /*font-size: 20px;*/
}
.selected-work-image{
    width: 100%;
    border: lightgray solid 15px;
    border-radius: 10px;
}

.smaller-circle {
    font-family: Anton, monospace;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    /*width: 100%;*/
    min-width: 30px;
}
hr{
    width: 100%;

}
.sidebar-font{
    font-family: Anton,monospace;
    font-size: 20px;
}

.sidebar-image{
    height: 50px;
    width: 50px;
}
.sidebar-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}
.abel-font{
    font-family: Abel, monospace;
}
.sidebar-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-sidebar-text{
    font-size: 12px;
}
.bottom-sidebar{
    padding-left: 50px;
}
.twitter-sidebar-image{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}