@font-face {
    font-family: Anton;
    src: url(https://fonts.google.com/specimen/Anton?query=anton);
}
@font-face {
    font-family: Abel;
    src: url(https://fonts.google.com/specimen/Abel#standard-styles);
}
.bg-gray{
    background-color: #F0F0F0;
}
h1, .location-header {
    font-family: Anton, monospace;
    margin: 25px 0;
}

h1 {
    font-size: 64px;
    padding-top: 30px;
}

.location-header {
    font-size: 48px;
}

nav a {
    font-size: .75em;
    color: black;
}
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}
.codeup-title {
    font-family: Abel, monospace;
    font-size: 3rem;
}
.nav-text-large{
    font-family: Abel,monospace;
    font-size: 1.2rem;
}
.circle{
    border: 12px solid white;
    aspect-ratio: 1;
    width: 90%;
}
.circle-headers {
    font-family: Anton, monospace;
    color: white;
    height: 100%;
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-circle{
    background-color: #E6563B;
}
.orange-circle{
    background-color: #EB9D3A;
}
.green-circle{
    background-color: #7CB09C;
}
.blue-circle{
    background-color: #00ABA9;
}
.empty-div-med{
    height: 150px;
    width: 100%;
}
.selected-work{
    font-family: Abel,monospace;
    font-size: 28px;
}
.row > div > img{
    width: 100%;
    border: lightgray solid 15px;
    border-radius: 10px;
}